@media screen and (max-width: 479px){
$sprite-spacing: 5px;
@import "../img/sprite/*.png";

.section{
	padding-top: 70px;
	padding-bottom: 42px;
	background: linear-gradient(to top, #36293d, #755184);
	
	&_wrapper{
		width: 320px;
		margin: 0 auto;
	}
	&_definition{
		@include sprite-sprite(key);
		padding-left: 52px;
		padding-right: 70px;
		width: 141px;
		margin: 0 auto;
		height: 32px;
		font-size: 24px;
		color:#fff;
		clear: both;
		white-space: nowrap;
	}
	&_description{
		width: 200px;
		margin: 0 auto;
		font-size: 16px;
		color:#fff;
		padding-left: 43px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		line-height: 24px;
		margin-top: -4px;
		height: 77px;
		overflow: hidden;

	}
	&_column2{;
		padding-left: 53px;
    margin-left: 28px;
    margin-top: -15px;
	}
	&_column3{
		padding-left: 53px;
    margin-left: 28px;
    margin-top: 16px;
	}
	&_more{
		display: block;
		// float: right;
		padding-top: 11px;
		padding-right: 26px;
		padding-bottom: 23px;
		font-size: 18px;
		color:#fff;
		text-align: right;
		&:hover{
			text-shadow: 3px 0px 3px rgba(197, 249, 225, 1);
			}
		}
		&_padd{
			padding-bottom: 38px;
		}
		// &__middlColumn{
		// 	position: relative;
		// 	top: -15px;
		// 	height: 0;
		// }
	}
}
